<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.learning.mapper.KnowledgePointMapper">

    <select id="findByMaterialId" resultType="com.campus.learning.entity.KnowledgePoint">
        SELECT * FROM knowledge_point WHERE material_id = #{materialId}
    </select>

</mapper>
